<blockquote>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quaerat totam, nobis nulla harum obcaecati, architecto a eveniet libero asperiores quod neque animi consequatur! Minima necessitatibus facere similique quam ratione.</p>
</blockquote>