@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, abbr, acronym, address, big, cite, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  //font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

div {
  box-sizing: border-box;
}

/* ----------------------------------------------------------------------------------------------------

Super Form Reset

A couple of things to watch out for:

- IE8: If a text input doesn't have padding on all sides or none the text won't be centered.
- The default border sizes on text inputs in all UAs seem to be slightly different. You're better off using custom borders.
- You NEED to set the font-size and family on all form elements
- Search inputs need to have their appearance reset and the box-sizing set to content-box to match other UAs
- You can style the upload button in webkit using ::-webkit-file-upload-button
- ::-webkit-file-upload-button selectors can't be used in the same selector as normal ones. FF and IE freak out.
- IE: You don't need to fake inline-block with labels and form controls in IE. They function as inline-block.
- By turning off ::-webkit-search-decoration, it removes the extra whitespace on the left on search inputs

----------------------------------------------------------------------------------------------------*/
input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  /* Browsers have different default form fonts */
  font-size: 13px;
  font-family: Arial;
}

/* Remove the stupid outer glow in Webkit */
input:focus {
  outline: 0;
}

/* Box Sizing Reset
-----------------------------------------------*/
/* All of our custom controls should be what we expect them to be */
input,
textarea {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* These elements are usually rendered a certain way by the browser */
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Text Inputs
-----------------------------------------------*/
/* Button Controls
-----------------------------------------------*/
input[type=checkbox],
input[type=radio] {
  width: 13px;
  height: 13px;
}

/* File Uploads
-----------------------------------------------*/
/* Search Input
-----------------------------------------------*/
/* Make webkit render the search input like a normal text field */
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration {
  display: none;
}

/* Buttons
-----------------------------------------------*/
button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
  /* Fix IE7 display bug */
  overflow: visible;
  width: auto;
}

.home-wrap, .pre-footer
  .button, .community a.button
    width: auto

/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none;
}

/* Textarea
-----------------------------------------------*/
textarea {
  /* Move the label to the top */
  vertical-align: top;
  /* Turn off scroll bars in IE unless needed */
  overflow: auto;
}

/* Selects
-----------------------------------------------*/
select[multiple] {
  /* Move the label to the top */
  vertical-align: top;
}

@font-face {
  font-family: PostGrotesk-Medium;
  src: url(../fonts/PostGrotesk-Medium.eot);
  src: url(../fonts/PostGrotesk-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/PostGrotesk-Medium.woff) format("woff"), url(../fonts/PostGrotesk-Medium.svg#PostGrotesk-Medium) format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: PostGrotesk-Book;
  src: url(../fonts/PostGrotesk-Book.eot);
  src: url(../fonts/PostGrotesk-Book.eot?#iefix) format("embedded-opentype"), url(../fonts/PostGrotesk-Book.woff) format("woff"), url(../fonts/PostGrotesk-Book.svg#PostGrotesk-Book) format("svg");
  font-weight: 400;
  font-style: normal;
}

.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 1024px;
  height: 56px;
  left: 50%;
  top: 0;
  margin: 24px 0 0 -512px;
}

.header-left {
  display: flex;
  align-items: center;
}

.logo-wrap {
  display: block;
  width: 116px;
  height: 26px;
  position: relative;
}

.logo {
  display: block;
  width: 116px;
  height: 26px;
  background-image: url(../img/logo-embark.svg);
  background-size: 116px;
  text-decoration: none;
}

.logo-sign {
  display: block;
  position: absolute;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.6);
  bottom: -28px;
  text-decoration: none;
}

.logo-sign:hover, .by-status:hover {
  color: white;
}

.main-nav {
  display: flex;
  align-items: center;
  margin-left: 32px;
}

.main-nav li {
  margin: 16px;
}

.main-nav li:first-child {
  margin-left: 0;
}

.main-nav li:last-child {
  margin-right: 0;
}

.main-nav a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
}

.main-nav a:hover {
  opacity: .7;
}

.secondary-nav {
  display: flex;
  align-items: center;
  margin-left: 32px;
}

.second-nav-links
  display: inherit
  @media mq-mobile
    display: none

.secondary-nav a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
}

.secondary-nav a:hover {
  opacity: .7;
}

.secondary-nav span.social-link a:hover {
  opacity: 1;
}

.secondary-nav span.social-link {
  margin: 8px;
}

.secondary-nav span.social-link a {
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-size: 24px;
  background-position: center;
  background-repeat: no-repeat;
}

.secondary-nav span.social-link a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.secondary-nav span.social-link.social-link--twitter a {
  background-image: url(../img/icon-twitter.svg);
}

.secondary-nav span.social-link.social-link--github a {
  background-image: url(../img/icon-github.svg);
}

.secondary-nav span:first-child {
  margin-left: 0;
}

.secondary-nav span:last-child {
  margin-right: 0;
}

@media (max-width: 1072px) {
  .header {
    width: 100%;
    left: 0;
    top: 0;
    margin: 24px 0 0 0;
    padding: 0 24px;
  }
}

@media (max-width: 710px) {
  .header {
    margin-top: 8px;
    padding: 0 16px;
  }

  .logo-wrap {
    width: 91px;
    height: 21px;
  }

  .logo {
    width: 91px;
    height: 21px;
    background-size: 91px;
  }

  .main-nav {
    display: none;
  }

  .secondary-nav li {
    margin-right: 12px;
  }

  .secondary-nav li.social-link {
    margin-left: 2px;
  }
}

.home-cover {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #363763;
  background-image: url("../img/triangle.svg");
  background-size: 24px;
  height: 440px;
}

.intro {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 102px 0 32px;
  color: #FFFFFF;
  text-align: center;
  width: 540px;
}

.intro-buttons {
  display: flex;
}

.intro .button {
  margin: 0 6px;
  width: 194px;
  padding: 10px 0 8px;
}

.button.button--main {
  background-color: white;
  color: #363763;
}

.button.button--main:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: #363763;
}

.button.button--secondary {
  background-color: rgba(255, 255, 255, 0.1);
  color: gba(255, 255, 255, 1);
}

.button.button--secondary:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: gba(255, 255, 255, 1);
}

.intro h1 {
  font-family: "PostGrotesk-Medium", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 28px;
  padding: 0 0 12px 0;
}

.intro p {
  font-family: "PostGrotesk-Book", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 25px;
  opacity: .6;
  padding: 0 0 16px 0;
}

.command-wrap {
  width: 400px;
  margin: 24px auto 0;
}

.command {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  border-radius: 28px;
  background-color: #FFFFFF;
  font-family: "Roboto Mono", monospace;
  color: black;
  font-size: 21px;
  text-align: center;

  font-weight: bold;
  color: white;
  background-color: #232323;
}

.command-description {
  text-align: center;
  color: #777f86;
  padding: 8px 0 0 0;
}

@media (max-width: 710px) {
  .intro {
    width: 100%;
    margin: 0;
    padding: 128px 24px 0;
    height: 400px;
  }

  .intro h1 {
    font-size: 22px;
    line-height: 26px;
    padding: 0 0 4px 0;
  }

  .intro-buttons {
    flex-direction: column;
  }

  .intro .button {
    width: 220px;
    margin: 0 0 12px 0;
  }

  .home-cover {
    height: 400px;
  }

  .command-wrap {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }

  .command {
    border-radius: 0;
    font-size: 18px;
  }
}

.features {
  width: 1024px;
  margin: 0 auto;
}

.features-wrap {
  margin: 0 0 0 0;
  display: flex;
  flex-wrap: wrap;
}

.features-item {
  display: flex;
  width: 100%;
  position: relative;
  margin: 0 0 16px 0;
  width: 100%;
  height: 156px;
  border-color: #E0E3E6;
  border-style: solid;
}

.features-item:last-child {
  margin-bottom: 0;
}

.features-item-inner {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-between;
  background-color: #FFFFFF;
  border-radius: 12px;
  padding: 22px 24px 24px 24px;
  z-index: 200;
}

.features-item-top {
  width: 620px;
}

.features-item h2 {
  font-size: 20px;
  line-height: 24px;
  font-family: "PostGrotesk-Medium", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  padding: 0 0 8px 0;
  transition: color .2s ease;
}

.features-item p {
  font-family: "PostGrotesk-Book", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  color: #777f86;
  font-size: 16px;
  line-height: 24px;
  padding: 0 0 8px 0;
}

.features-item p:last-child {
  padding: 0;
}

.features-button-wrap {
  display: flex;
  align-items: center;
}

.button--features {
  width: 200px;
  text-align: center;
}

.button.button--features {
  color: #363763;
}

@media (max-width: 1072px) {
  .features {
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
  }

  .features-item {
    margin: 0 0 12px 0;
    height: auto;
  }

  .features-item-top {
    width: auto;
  }

  .features-item-inner {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .button.button--features {
    margin: 16px 0 0 0;
    width: auto;
  }
}

.email-form {
  width: 460px;
  margin: 0 0 70px 0;
  border-radius: 8px;
}

.email-form .hbspt-form {
  width: 460px;
}

.email-form .hbspt-form form {
  display: flex;
  width: 460px;
  position: relative;
}

.email-form .hbspt-form .hs-error-msgs {
  color: rgba(255, 255, 255, 0.5);
  line-height: 14px;
  position: absolute;
  transform: translate3d(0, 10px, 0);
  transition: transform .2s ease, opacity .2s ease;
}

.email-form .hbspt-form .hs-error-msgs li {
  text-align: left;
}

.email-form .hbspt-form .hs-error-msgs li label {
  font-size: 14px;
  font-family: 'PostGrotesk-Book', sans-serif;
}

.email-form .hbspt-form .hs_error_rollup {
  display: none;
}

.email-form .hbspt-form .submitted-message {
  padding: 12px;
  border-radius: 22px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}

.email-form .hbspt-form .hs_email {
  width: 300px;
  box-sizing: border-box;
}

.email-form .hbspt-form .hs_email > label {
  display: none;
}

.email-form .hbspt-form .hs_email input[type="email"]::-webkit-input-placeholder, .email-form .hbspt-form .hs_email input[type="email"]::-moz-placeholder, .email-form .hbspt-form .hs_email input[type="email"]:-ms-input-placeholder {
  color: #8D99A4;
}

.email-form .hbspt-form .hs_email input[type="email"]:-moz-placeholder {
  color: #8D99A4;
}

.email-form .hbspt-form .hs-input {
  box-sizing: border-box;
  height: 44px;
  width: 100%;
  text-align: left;
  background-color: #F2F6F8;
  color: #000000;
  padding: 0 15px;
  margin: 0;
  font-family: "PostGrotesk-Book", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  border-radius: 22px 0 0 22px;
  transition: background-color .2s ease;
  font-weight: 400;
  font-size: 16px;
}

.email-form .hbspt-form .hs_submit {
  width: 160px;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-grow: 0;
}

.email-form .hbspt-form .hs_submit input[type="submit"].hs-button {
  height: 44px;
  width: 100%;
  box-sizing: border-box;
  line-height: 45px;
  padding: 0 20px;
  font-family: "PostGrotesk-Medium", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  color: #262A39;
  background-color: #D7D7E0;
  border-radius: 0 22px 22px 0;
  transform: translate3d(0, 0, 0) scale(1);
  transition: transform .1s ease, box-shadow .2s ease, background-color .2s ease;
  -webkit-appearance: none;
  cursor: pointer;
}

.email-form .hbspt-form .hs_submit input[type="submit"].hs-button:hover {
  background-color: #C2C3D0;
}

@media (max-width: 640px) {
  .email-form {
    width: 240px;
  }

  .email-form .hbspt-form {
    width: 100%;
  }

  .email-form .hbspt-form form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
  }

  .email-form .hbspt-form form .hs_email input[type="email"] {
    width: 240px;
    border-radius: 22px;
    margin: 0 0 8px 0;
    text-align: center;
    padding-top: 3px;
  }

  .email-form .hbspt-form form .hs_submit,
  .email-form .hbspt-form form .hs_submit input[type="submit"].hs-button {
    width: 240px;
    border-radius: 22px;
  }

  .email-form .hbspt-form .hs-error-msgs {
    line-height: 20px;
    margin-top: 44px;
    width: 100%;
  }

  .email-form .hbspt-form .hs-error-msgs li {
    text-align: center;
  }

  .email-form .hbspt-form .hs_email {
    width: 240px;
  }
}

.pre-footer {
  width: 100%;
  background-color: #262A39;
  position: relative;
}

.pre-footer h3 {
  font-family: "PostGrotesk-Medium", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: white;
  padding: 0 0 8px 0;
}

.pre-footer p {
  color: rgba(255, 255, 255, 0.6);
  padding: 0 0 12px 0;
}

.pre-footer .button {
  background-color: rgba(255, 255, 255, 0.1);
}

.pre-footer .button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.pre-footer-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.community {
  width: 1024px;
  display: flex;
}

.community-item {
  width: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 220px;
}

.community a.button {
  width: 100px;
}

.mail {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.mail-inner {
  width: 460px;
  padding-top: 32px;
}

@media (max-width: 1072px) {
  .community {
    width: 100%;
    flex-wrap: wrap;
  }

  .community-item {
    width: 100%;
    height: auto;
    padding: 32px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .community-item:last-child {
    border-bottom: none;
  }

  .mail-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 32px 0;
  }
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #262A39;
  position: relative;
  z-index: 999;
}

.footer-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 1024px;
}

.footer-logo-wrap {
  width: 317px;
  display: flex;
  text-align: center;
}

.footer-logo-wrap__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0 75px 0;
}

a.footer-logo {
  display: block;
  width: 52px;
  height: 52px;
  background-size: 52px;
  background-image: url(../img/footer-logo.svg);
}

a.footer-logo:hover {
  opacity: .8;
}

.footer-address {
  color: #FFFFFF;
  padding: 20px 0 0 0;
  opacity: .5;
}

.footer-table {
  width: 317px;
  display: flex;
  justify-content: space-between;
}

.footer-table__column {
  box-sizing: border-box;
  padding: 56px 0;
}

.footer-header {
  color: #FFFFFF;
  opacity: .5;
  font-size: 17px;
  margin: 0 0 40px 0;
}

.footer-link {
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  margin: 0 0 15px 0;
}

.footer-link a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.footer-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin: 0 15px 0 0;
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
}

.footer-link--fb .footer-icon {
  background-image: url(../img/icon_fb.svg);
}

.footer-link--tw .footer-icon {
  background-image: url(../img/icon_tw2.svg);
}

.footer-link--sl .footer-icon {
  background-image: url(../img/icon_sl2.svg);
}

.footer-link--gh .footer-icon {
  background-image: url(../img/icon_gh2.svg);
}

.footer-link--rd .footer-icon {
  background-image: url(../img/icon_rd2.svg);
}

.footer-link--yt .footer-icon {
  background-image: url(../img/icon_yt.svg);
}

.footer-link a {
  color: #FFFFFF;
}

.footer-link a:hover {
  opacity: .8;
}

.language-switcher {
  font-family: "PostGrotesk-Book", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  -webkit-appearance: none;
  font-size: 16px;
  line-height: 32px;
  padding: 0 24px 0 0;
  background-image: url(../img/icon_dropdown-white.svg);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: right center;
}

.language-switcher:focus {
  outline: none;
}

@media (max-width: 1140px) {
  .footer-inner {
    width: 820px;
    justify-content: space-around;
  }

  .footer-logo-wrap {
    width: 200px;
  }
}

@media (max-width: 767px) {
  .footer {
    border-top: 0px;
  }

  .footer.footer--page {
    border-top: 0px solid #4A5C69;
  }

  .footer-inner {
    padding: 0 0 0 0;
    flex-direction: column;
  }

  .footer-table {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-table__column {
    text-align: center;
    padding: 10px 16px;
  }

  .footer-logo-wrap {
    width: auto;
    order: 2;
  }

  .footer-header {
    margin: 0 0 10px 0;
  }

  .footer-logo-wrap__inner {
    width: 100%;
    padding: 0 0 64px 0;
    align-items: center;
    text-align: center;
  }

  .footer-link {
    text-align: center;
    height: 24px;
    line-height: 24px;
    margin: 0 0 10px 0;
  }

  .footer-link a {
    justify-content: center;
    text-align: center;
  }

  .footer-icon {
    display: none;
  }
}

body {
  background-color: #f2f2f5;
  font-family: "PostGrotesk-Book", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #363763;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.button, a.button {
  display: block;
  font-family: "PostGrotesk-Medium", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #FFFFFF;
  line-height: 24px;
  padding: 10px 32px 9px;
  border-radius: 22px;
  background-color: rgba(0, 0, 0, 0.1);
}

.button.button--light, a.button.button--light {
  background-color: rgba(54, 55, 99, 0.1);
}

.button:hover, a.button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.button.button--light:hover, a.button.button--light:hover {
  background-color: rgba(54, 55, 99, 0.2);
}

.home-wrap {
  position: relative;
  background-color: #f2f2f5;
  align-content: center;
  display: flex;
  flex-direction: column;
  margin: 440px 0 0 0;
  box-shadow: 0 -20px 11px 0 rgba(43, 55, 107, 0.08);
}

@media (max-width: 710px) {
  .home-wrap {
    margin: 400px 0 0 0;
  }
}

.section-header {
  margin: 0 auto;
  width: 900px;
  padding: 60px 0 32px 0;
  text-align: center;
}

.section-header h2 {
  font-size: 26px;
  font-family: "PostGrotesk-Medium", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  padding: 0 0 8px 0;
}

.section-header p {
  font-size: 16px;
  width: 900px;
  color: #8D99A4;
  line-height: 24px;
}

.inner-header {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 600px;
  padding: 42px 0 16px 0;
  text-align: center;
}

.inner-header h2 {
  font-size: 26px;
  font-family: "PostGrotesk-Medium", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  padding: 0 0 8px 0;
}

.inner-header p {
  font-size: 16px;
  color: #777f86;
  line-height: 24px;
}

.sections {
  width: 100%;
  margin: 60px 0 0 0;
  padding: 0 0 60px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #FFFFFF;
}

.section {
  width: 976px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.section:last-child {
  border-bottom: none;
}

.section__text {
  width: 500px;
  text-align: left;
}

.section__text h2 {
  font-family: "PostGrotesk-Medium", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: black;
  margin: 0 0 8px 0;
}

.section__text .text {
  font-family: "PostGrotesk-Book", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #777f86;
}

.section__text .text strong {
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  line-height: 24px;
  color: black;
  background-color: rgba(54, 55, 99, 0.1);
  border-radius: 4px;
  padding: 0 5px;
}

.section__text a {
  text-decoration: none;
  color: #7367A4;
  opacity: .8;
}

.section-link {
  padding: 0 12px 0 0;
}

.section__text a:hover {
  opacity: 1;
}

.section__text .text p {
  padding: 0 0 12px 0;
}

.section__text .text p:last-child {
  padding: 0 0 0 0;
}

.section__image {
  position: relative;
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
}

.section.section--one .section__image {
  width: 212px;
  height: 186px;
  background-image: url(../img/image-1@2x.png);
  background-size: 212px;
}

.section.section--two .section__image {
  width: 248px;
  height: 184px;
  background-image: url(../img/image-2@2x.png);
  background-size: 248px;
}

.section.section--three .section__image {
  width: 258px;
  height: 162px;
  background-image: url(../img/image-3@2x.png);
  background-size: 258px;
}

.section.section--four .section__image {
  width: 208px;
  height: 151px;
  background-image: url(../img/image-4@2x.png);
  background-size: 208px;
}

.section:nth-child(even) {
  justify-content: flex-end;
}

.section:nth-child(odd) {
  justify-content: flex-start;
}

.section:nth-child(even) .section__text {
  margin-left: 90px;
}

.section:nth-child(odd) .section__text {
  margin-right: 90px;
}

.section:nth-child(even) .section__text {
  order: 1;
}

.section:nth-child(even) .section__image {
  order: 0;
}

pre {
  background-color: white;
  padding: 0px;

  code {
    padding: 1em !important;
    border-radius: 8px;
    font-size: 1em;
  } 
}

@media (max-width: 1072px) {
  .sections {
    margin: 12px 0 0 0;
    padding-bottom: 32px;
  }

  .section-header, .inner-header {
    width: 100%;
    max-width: 680px;
    padding: 32px 24px 16px 24px;
  }

  .section-header h2, .inner-header h2 {
    font-size: 22px;
    padding: 0 0 8px 0;
  }

  .section-header p, .inner-header p {
    width: 100%;
  }

  .section {
    width: 100%;
    height: auto;
    padding: 0 24px;
    flex-direction: column;
    padding: 0;
    border-bottom: 1px solid #E7E5EB;
  }

  .section__text {
    width: 100%;
    text-align: left;
    padding: 16px 24px 32px;
  }

  .section__text h2 {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 4px 0;
  }

  .section .section__text {
    order: 1;
  }

  .section .section__image {
    order: 0;
    margin: 32px 0 32px 0;
  }

  .section:nth-child(even) .section__text {
    margin-left: 0px;
  }

  .section:nth-child(odd) .section__text {
    margin-right: 0px;
  }
}
