<!DOCTYPE html>
<html class="{{ htmlClass }}" dir="ltr" lang="de_DE">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="description" content="{{ description }}">
    <meta name="author" content="status.im">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" href="../../assets/css/application.css?{{ cacheBuster }}" media="all">
    <link rel="stylesheet" href="../../assets/css/pattern-scaffolding.css?{{ cacheBuster }}" media="all">
    <link rel="icon" type="image/png" href="../../assets/images/favicon.png">
    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{{ patternLabHead }}}
    <!-- End Pattern Lab -->

    <!-- Schema.org for Google -->
    <meta itemprop="name" content="{{ title }}">
    <meta itemprop="description" content="{{ description }}">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:site" content="TWITTER">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="{{ title }}">
    <meta name="og:description" content="{{ description }}">
    <meta name="og:url" content="https://embark.status.im">
    <meta name="og:site_name" content="{{ title }}">
    <meta name="og:locale" content="de_DE">
    <meta name="og:type" content="website">
  </head>
  <body class="{{ bodyClass }}">
