<div class="c-box c-box--spot">
  <div class="o-container">
    <div class="o-grid">
      <div class="o-grid__column--1-1 o-grid__column--large-1-2">
        <h2 class="c-section-title u-text-ghost">Our super CLI Tool</h2>
        <p class="c-subtitle o-box__subtitle u-text-light">A complete developer environment to give you total control of every step in the development process.</p>
        <div class="o-distance-l">
          {{> molecules-checklist(style: "u-text-light")}}
        </div>
        <a href="" title="" class="c-button o-distance-l">Get started</a>
      </div>
      <div class="o-grid__column--1-1 o-grid__column--large-1-2">
        <img src="" alt="">
      </div>
    </div>
  </div>
</div>