<div class="c-box c-box--universe o-overlap" style="background-image: url(../../assets/images/dots.png)">
  <div class="o-container">
    <div class="o-heading o-center">
      <h2 class="o-heading__title c-section-title">
        <span class="u-text-ghost">More than a</span>
        framework.
      </h2>
      <p class="o-heading__subtitle c-subtitle u-text-ghost">
        The all-in-one developer tool for building and deploying decentralized applications
      </p>
      <p class="o-heading__footer">
        <a href="#" class="c-button" title="Get Started">Get Started</a>
      </p>
    </div>
    <div class="o-distance-xl">
      <div class="o-grid">
        <div class="o-grid__column--1-1 o-grid__column--medium-1-2 o-grid__column--large-1-4">
          <h3 class="c-title-level-3 u-text-ghost">Web UI Dashboard</h3>
          <p>Dashboard which gives a great overview of all the processes. It also comes with an interactive console and predictive commands.</p>
        </div>
        <div class="o-grid__column--1-1 o-grid__column--medium-1-2 o-grid__column--large-1-4">
          <h3 class="c-title-level-3 u-text-ghost">Web UI Dashboard</h3>
          <p>Dashboard which gives a great overview of all the processes. It also comes with an interactive console and predictive commands.</p>
        </div>
        <div class="o-grid__column--1-1 o-grid__column--medium-1-2 o-grid__column--large-1-4">
          <h3 class="c-title-level-3 u-text-ghost">Web UI Dashboard</h3>
          <p>Dashboard which gives a great overview of all the processes. It also comes with an interactive console and predictive commands.</p>
        </div>
        <div class="o-grid__column--1-1 o-grid__column--medium-1-2 o-grid__column--large-1-4">
          <h3 class="c-title-level-3 u-text-ghost">Web UI Dashboard</h3>
          <p>Dashboard which gives a great overview of all the processes. It also comes with an interactive console and predictive commands.</p>
        </div>
      </div>
    </div>
    <div class="o-overlap__image">
      <img src="../../assets/images/tool-screenshot.png" alt="">
    </div>
  </div>
</div>