<div class="c-box c-box--universe">
  <div class="o-container">
    <div class="o-heading o-center">
      <h2 class="o-heading__title c-section-title">
        <span class="u-text-ghost">Upcoming</span>
        events.
      </h2>
    </div>
    <div class="o-distance-xl">
      <div class="o-grid">
        <div class="o-grid__column--1-1 o-grid__column--large-1-3">
          <div class="c-box">
            <span class="c-tag c-tag--light c-box__offset">23.04</span>
            <h3 class="c-body-title">Embark Meetup</h3>
            <p class="c-meta">Dublin</p>
            <p class="c-box__subtitle u-text-ghost">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
            <p class="c-box__footer">
              <a href="" title="Details" class="c-link c-link--ghost">Details</a>
            </p>
          </div>
        </div>
        <div class="o-grid__column--1-1 o-grid__column--large-1-3">
          <div class="c-box">
            <span class="c-tag c-tag--light c-box__offset">23.04</span>
            <h3 class="c-body-title">Embark Meetup</h3>
            <p class="c-meta">Dublin</p>
            <p class="c-box__subtitle u-text-ghost">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
            <p class="c-box__footer">
              <a href="" title="Details" class="c-link c-link--ghost">Details</a>
            </p>
          </div>
        </div>
        <div class="o-grid__column--1-1 o-grid__column--large-1-3">
          <div class="c-box">
            <span class="c-tag c-tag--light c-box__offset">23.04</span>
            <h3 class="c-body-title">Embark Meetup</h3>
            <p class="c-meta">Dublin</p>
            <p class="c-box__subtitle u-text-ghost">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
            <p class="c-box__footer">
              <a href="" title="Details" class="c-link c-link--ghost">Details</a>
            </p>
          </div>
        </div>
      </div>
      <div class="o-center o-distance">
        <p class="c-subtitle u-text-ghost">Want to host your own embark meetup? Get in touch and we can help you out.</p>
      </div>
    </div>
  </div>
</div>