<footer role="contentinfo" class="c-footer o-distance-xxl">
  <div class="o-container">
    <div class="c-footer__top">
      <p class="c-category-title c-footer__top__title u-text-light">Embark is part of the Status Network</p>
      <ul class="o-list-inline">
        <li class="o-list-inline__item">
          <img src="../../assets/images/keycard-logo-negative.svg" alt="">
        </li>
        <li class="o-list-inline__item">
          <img src="../../assets/images/Nimbus.svg" alt="">
        </li>
        <li class="o-list-inline__item">
          <img src="../../assets/images/status-logo.svg" alt="">
        </li>
      </ul>
    </div>
    <div class="c-footer__body">
      <div class="o-grid">
        <div class="o-grid__column--1-1 o-grid__column--medium-1-2 o-grid__column--large-1-5">
          <a href="" class="u-link-ghost" class="c-logo" title="Embark">Embark</a>
          <form action="">
            <select name="select-language" id="sel-language">
              <option value="Englisch">Englisch</option>
              <option value="Deutsch">Deutsch</option>
            </select>
          </form>
        </div>
        <div class="o-grid__column--1-1 o-grid__column--medium-1-2 o-grid__column--large-1-5">
          <p class="c-category-title u-text-light">Docs</p>
          <ul class="o-list-bare">
            <li class="o-list-bare__item">
              <a href="" class="u-link-ghost" title="Getting Started">Getting Started</a>
            </li>
            <li class="o-list-bare__item">
              <a href="" class="u-link-ghost" title="General Usage">General Usage</a>
            </li>
            <li class="o-list-bare__item">
              <a href="" class="u-link-ghost" title="Smart Contracts">Smart Contracts</a>
            </li>
            <li class="o-list-bare__item">
              <a href="" class="u-link-ghost" title="Decentralized Storage">Decentralized Storage</a>
            </li>
            <li class="o-list-bare__item">
              <a href="" class="u-link-ghost" title="Decentralized Messages">Decentralized Messages</a>
            </li>
            <li class="o-list-bare__item">
              <a href="" class="u-link-ghost" title="Naming System">Naming System</a>
            </li>
            <li class="o-list-bare__item">
              <a href="" class="u-link-ghost" title="Plugins">Plugins</a>
            </li>
            <li class="o-list-bare__item">
              <a href="" class="u-link-ghost" title="Reference">Reference</a>
            </li>
            <li class="o-list-bare__item">
              <a href="" class="u-link-ghost" title="Misc">Misc</a>
            </li>
          </ul>
        </div>
        <div class="o-grid__column--1-1 o-grid__column--medium-1-2 o-grid__column--large-1-5">
          <p class="c-category-title u-text-light">Ressources</p>
          <ul class="o-list-bare">
            <li class="o-list-bare__item">
              <a href="" class="u-link-ghost" title="Tutorials">Tutorials</a>
            </li>
            <li class="o-list-bare__item">
              <a href="" class="u-link-ghost" title="Plugins">Plugins</a>
            </li>
            <li class="o-list-bare__item">
              <a href="" class="u-link-ghost" title="Templates">Templates</a>
            </li>
          </ul>
        </div>
         <div class="o-grid__column--1-1 o-grid__column--medium-1-2 o-grid__column--large-1-5">
          <p class="c-category-title u-text-light">Community</p>
          <ul class="o-list-bare">
            <li class="o-list-bare__item">
              <a href="" class="u-link-ghost" title="Github">Github</a>
            </li>
            <li class="o-list-bare__item">
              <a href="" class="u-link-ghost" title="Gitter">Gitter</a>
            </li>
            <li class="o-list-bare__item">
              <a href="" class="u-link-ghost" title="Twitter">Twitter</a>
            </li>
            <li class="o-list-bare__item">
              <a href="" class="u-link-ghost" title="Events">Events</a>
            </li>
            <li class="o-list-bare__item">
              <a href="" class="u-link-ghost" title="Blog">Blog</a>
            </li>
            <li class="o-list-bare__item">
              <a href="" class="u-link-ghost" title="Contribute">Contribute</a>
            </li>
            <li class="o-list-bare__item">
              <a href="" class="u-link-ghost" title="Team">Team</a>
            </li>
          </ul>
        </div>
        <div class="o-grid__column--1-1 o-grid__column--medium-1-2 o-grid__column--large-1-5">
          <p class="c-category-title u-text-light">More</p>
          <ul class="o-list-bare">
            <li class="o-list-bare__item">
              <a href="" class="u-link-ghost" title="Jobs">Jobs</a>
            </li>
            <li class="o-list-bare__item">
              <a href="" class="u-link-ghost" title="Privacy Policy">Privacy Policy</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="c-footer__bottom">
      <p class="u-text-light">Free! 2018 Embark - No rights reserved.</p>
    </div>
  </div>
</footer>