<header role="banner" class="c-header">
  <div class="o-container">
    <div class="c-header__top">
      <a href="" title="Embark" class="c-logo">Embark</a>
      <nav role="navigation" class="c-navigation">
        <ul class="o-list-inline">
          <li class="o-list-inline__item">
            <a href="#" class="u-link-ghost" title="Docs">Docs</a>
          </li>
          <li class="o-list-inline__item">
            <a href="#" class="u-link-ghost" title="Quickstart">Quickstart</a>
          </li>
          <li class="o-list-inline__item">
            <a href="#" class="u-link-ghost" title="Community">Community</a>
          </li>
          <li class="o-list-inline__item">
            <a href="#" class="u-link-ghost" title="Blog">Blog</a>
          </li>
        </ul>
      </nav>
      <div class="o-flex o-flex-center">
        <form action="" class="o-flex__item">
          <input type="search" placeholder="Search">
        </form>
        <div class="o-flex__item">
          <ul class="o-flex o-flex-center">
            <li class="o-flex__item">
              <a href="#" title="Github" target="_blank">
                <svg class="c-icon"><use xlink:href="../../assets/icons/symbols.svg#icon-github"></use></svg>
              </a>
            </li>
            <li class="o-flex__item">
              <a href="#" title="Twitter" target="_blank">
                <svg class="c-icon"><use xlink:href="../../assets/icons/symbols.svg#icon-twitter"></use></svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="c-header__body">
      <h1 class="c-title u-text-ghost">{{title}}</h1>
      <p class="c-subtitle o-distance-s">{{subtitle}}</p>
      {{# homepage}}
        <div class="o-buttonbar">
          <a href="" class="c-button o-buttonbar__item" title="Get started">Get started</a>
          <span class="c-button c-button--quite o-buttonbar__item">npm install -g embark</span>
        </div>
        <div class="o-distance-l">
          <div class="o-flex o-flex-center">
            <span class="c-tag c-tag--light o-flex__item">
              <svg class="c-icon"><use xlink:href="../../assets/icons/symbols.svg#icon-github"></use></svg>
              <span class="c-tag__value">2.536</span>
            </span>
            <div class="o-flex__item"><strong>Stars</strong> on Github</div>
          </div>
        </div>
      {{/ homepage}}
      {{# community}}
        <div class="o-buttonbar o-flex-center">
          <a href="#" title="Join the Conversation" class="o-buttonbar__item c-button">Join the Conversation</a>
          <div class="o-buttonbar__item">
            <div class="o-flex o-flex-center">
              <span class="c-tag c-tag--light o-flex__item">
                <svg class="c-icon"><use xlink:href="../../assets/icons/symbols.svg#icon-github"></use></svg>
                <span class="c-tag__value">2.536</span>
              </span>
              <div class="o-flex__item"><strong>Stars</strong> on Github</div>
            </div>
          </div>
        </div>
      {{/ community}}
    </div>
  </div>
</header>