<div class="o-grid">
  <div class="o-grid__column--1-1 o-grid__column--medium-1-2">
    <img src="" alt="">
  </div>
  <div class="o-grid__column--1-1 o-grid__column--medium-1-2">
    {{> molecules-heading}}
    <div class="o-distance-l">
      {{> molecules-checklist}}
    </div>
    <div class="o-distance-l">
      <div class="o-buttonbar">
        <a href="" class="c-button o-buttonbar__item" title="Get started">Get started</a>
        <a href="" class="c-button c-button--ghost o-buttonbar__item">See full list of plugins</a>
      </div>
    </div>
  </div>
</div>