<div class="o-grid">
  <div class="o-grid__column--1-1 o-grid__column--medium-1-2">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi quis repudiandae, fugit commodi eaque tempore repellat distinctio fugiat dicta deserunt itaque delectus, eius praesentium omnis, dolorem nihil vero molestiae beatae.</p>
  </div>
  <div class="o-grid__column--1-1 o-grid__column--medium-1-2">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi quis repudiandae, fugit commodi eaque tempore repellat distinctio fugiat dicta deserunt itaque delectus, eius praesentium omnis, dolorem nihil vero molestiae beatae.</p>
  </div>
</div>