{{> organisms-header}}

<main role="main">
  <section class="o-container o-distance">
    <div class="o-heading o-center">
      <h2 class="o-heading__title c-section-title">
        <span class="u-text-light">How to</span>
        contribute.
      </h2>
      <p class="o-heading__subtitle c-subtitle u-text-death">
        A number of ways you can contribute to embark from submitting a pull request to growing the community.
      </p>
    </div>
    <div class="o-distance-xl">
      <div class="o-grid">
        <div class="o-grid__column--1-1 o-grid__column--large-1-2">

        </div>
        <div class="o-grid__column--1-1 o-grid__column--large-1-2">
          <div class="o-grid">
            <div class="o-grid__column--1-1 o-grid__column--large-1-2">
              <svg class="c-icon c-icon--xl"><use xlink:href="../../assets/icons/symbols.svg#icon-search-bar"></use></svg>
              <h3 class="c-body-title">Check out the Github Repos</h3>
              <p class="u-text-light">Look for issues with specific tags you may be interested in.</p>
            </div>
            <div class="o-grid__column--1-1 o-grid__column--large-1-2">
              <svg class="c-icon c-icon--xl"><use xlink:href="../../assets/icons/symbols.svg#icon-search-bar"></use></svg>
              <h3 class="c-body-title">Check out the Github Repos</h3>
              <p class="u-text-light">Look for issues with specific tags you may be interested in.</p>
            </div>
            <div class="o-grid__column--1-1 o-grid__column--large-1-2">
              <svg class="c-icon c-icon--xl"><use xlink:href="../../assets/icons/symbols.svg#icon-search-bar"></use></svg>
              <h3 class="c-body-title">Check out the Github Repos</h3>
              <p class="u-text-light">Look for issues with specific tags you may be interested in.</p>
            </div>
            <div class="o-grid__column--1-1 o-grid__column--large-1-2">
              <svg class="c-icon c-icon--xl"><use xlink:href="../../assets/icons/symbols.svg#icon-search-bar"></use></svg>
              <h3 class="c-body-title">Check out the Github Repos</h3>
              <p class="u-text-light">Look for issues with specific tags you may be interested in.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="o-distance">
      <div class="o-grid">
        <div class="o-grid__column--1-1 o-grid__column--large-1-2">
          <div class="o-grid">
            <div class="o-grid__column--1-1 o-grid__column--large-1-2">
              <svg class="c-icon c-icon--xl"><use xlink:href="../../assets/icons/symbols.svg#icon-search-bar"></use></svg>
              <h3 class="c-body-title">Check out the Github Repos</h3>
              <p class="u-text-light">Look for issues with specific tags you may be interested in.</p>
            </div>
            <div class="o-grid__column--1-1 o-grid__column--large-1-2">
              <svg class="c-icon c-icon--xl"><use xlink:href="../../assets/icons/symbols.svg#icon-search-bar"></use></svg>
              <h3 class="c-body-title">Check out the Github Repos</h3>
              <p class="u-text-light">Look for issues with specific tags you may be interested in.</p>
            </div>
            <div class="o-grid__column--1-1 o-grid__column--large-1-2">
              <svg class="c-icon c-icon--xl"><use xlink:href="../../assets/icons/symbols.svg#icon-search-bar"></use></svg>
              <h3 class="c-body-title">Check out the Github Repos</h3>
              <p class="u-text-light">Look for issues with specific tags you may be interested in.</p>
            </div>
            <div class="o-grid__column--1-1 o-grid__column--large-1-2">
              <svg class="c-icon c-icon--xl"><use xlink:href="../../assets/icons/symbols.svg#icon-search-bar"></use></svg>
              <h3 class="c-body-title">Check out the Github Repos</h3>
              <p class="u-text-light">Look for issues with specific tags you may be interested in.</p>
            </div>
          </div>
          <div class="o-grid__column--1-1 o-grid__column--large-1-2">

          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="o-distance">
    {{> organisms-events}}
  </section>
  <section class="o-distance">
    {{> organisms-contributors}}
  </section>
</main>

{{> organisms-footer}}