{{> organisms-header}}

<main role="main">
  <div class="o-guided-content o-container o-distance">
    <a href="" title="Überblick öffnen" class="c-button c-button--minion u-hidden-large-up">
      <svg class="c-icon c-icon--xs"><use xlink:href="../../assets/icons/symbols.svg#icon-navigation-menu"></use></svg>
      <span>Überblick öffnen</span>
    </a>
    <div class="c-guide o-guided-content__guide">
      <div class="c-guide__header u-hidden-large-up">
        <a href="" title="Überblick">
          Überblick
        </a>
        <a href="" title="Menü schließen">
          <svg class="c-icon c-icon--xs"><use xlink:href="../../assets/icons/symbols.svg#icon-close"></use></svg>
        </a>
      </div>
      <div class="c-guide__body">
        <nav role="navigation">
          <h3 class="c-category-title">Getting started</h3>
          <ul class="o-list-bare">
            <li class="o-list-bare__item">
              <a href="#" title="Overview" class="u-link-uniform">Overview</a>
              <div class="o-distance-m">
                <ul class="o-list-bare c-navigation__subnav">
                  <li class="o-list-bare__item">
                    <a href="#" title="What is Embark?" class="u-link-uniform">What is Embark?</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="o-list-bare__item">
              <a href="#" title="Installation" class="u-link-uniform">Installation</a>
            </li>
            <li class="o-list-bare__item">
              <a href="#" title="Quick Start" class="u-link-uniform">Quick Start</a>
            </li>
            <li class="o-list-bare__item">
              <a href="#" title="FAQ" class="u-link-uniform">FAQ</a>
            </li>
          </ul>

          <div class="o-distance">
            <h3 class="c-category-title">General Usage</h3>
            <ul class="o-list-bare">
              <li class="o-list-bare__item">
                <a href="#" title="Overview" class="u-link-uniform">Creating Apps</a>
                <div class="o-distance-m">
                  <ul class="o-list-bare c-navigation__subnav">
                    <li class="o-list-bare__item">
                      <a href="#" title="What is Embark?" class="u-link-uniform">What is Embark?</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="o-list-bare__item">
                <a href="#" title="Installation" class="u-link-uniform">App Structure</a>
              </li>
              <li class="o-list-bare__item">
                <a href="#" title="Quick Start" class="u-link-uniform">Running Apps</a>
              </li>
              <li class="o-list-bare__item">
                <a href="#" title="FAQ" class="u-link-uniform">Using the dashboard</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <div class="o-guided-content__content">
      <p class="c-meta">Last updated: 2018-10-29</p>
      <h2>Getting started</h2>
      <p>Welcome to the Embark documentation! The following guides will help you guiding your way through your journey of building decentralized applications. If you encounter any problems when using Embark, or find anything unclear described here, please have a look at the troubleshooting guide, raise an issue on GitHub or ask in the Gitter Chatroom respectively.</p>

      <h2 class="o-distance-m">What is Embark?</h2>
      <p class="o-distance-m">Embark is a fast, easy to use, and powerful developer environment to build and deploy decentralized applications, also known as “DApps”. It integrates with Ethereum blockchains, decentralized storages like IPFS and Swarm, and decentralized communication platforms like Whisper.</p>
      <p class="o-distance-m">Embark’s goal is to make building decentralized applications as easy as possible, by providing all the tools needed and staying extensible at the same time.</p>

      <p class="o-distance-m">Some of Embark’s features, but not all of them, are:</p>
      <ul class="o-distance-m">
        <li>
          <strong>Automatic Smart Contract deployment </strong> <br>
          Embark takes care of deploying your Smart Contracts as well as redeploying them as you make changes to your code.
        </li>
        <li>
          <strong>Automatic Smart Contract deployment </strong> <br>
          Embark takes care of deploying your Smart Contracts as well as redeploying them as you make changes to your code.
        </li>
        <li>
          <strong>Automatic Smart Contract deployment </strong> <br>
          Embark takes care of deploying your Smart Contracts as well as redeploying them as you make changes to your code.
        </li>
      </ul>
      <div class="o-distance-m">
        {{> molecules-notification}}
      </div>
      <div class="o-distance-m">
        {{> molecules-notification-danger}}
      </div>
      <div class="o-distance-m">
        {{> molecules-notification-success}}
      </div>
    </div>
  </div>
</main>

{{> organisms-footer}}