/**
 * This stylesheet is for styles you want to include only when displaying demo
 * styles for grids, animations, color swatches, etc.
 * These styles will not be your production CSS.
 */
#sg-patterns {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  max-width: 100%;
  padding: 0 0.5em;
}

.demo-animate {
  background: #ddd;
  padding: 1em;
  margin-bottom: 1em;
  text-align: center;
  cursor: pointer;
}

.sg-colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
}
.sg-colors li {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  padding: 12px;
  margin: 25px 12px;
  width: 20%;
  max-width: 20%;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 12px rgba(0,0,0,.15);
  font-weight: bold;
}

.sg-swatch {
  display: block;
  height: 4em;
  margin-bottom: 0.3em;
}

.sg-label {
  font-size: 90%;
  line-height: 1;
}
h2.sg-pattern-category-title {
  font-size: 28px !important;
}
