// Layout Color
// @group Colors
$color-layout: (
  ghost: get-color(unique, white),
  ghostGradation: get-color(gray),
  spot: get-color-brand(primary),
  spotGradation: get-color(blue, lighter),
  universe: get-color(gray, darkest),
  universeGradation: get-color(gray),
) !default;