<ul class="c-checklist">
  <li class="c-checklist__item {{style}}">
    <span class="c-checklist__circle">
      <svg class="c-icon c-checklist__icon"><use xlink:href="../../assets/icons/symbols.svg#icon-check"></use></svg>
    </span>
    Only want smart contracts?
  </li>
  <li class="c-checklist__item {{style}}">
    <span class="c-checklist__circle">
      <svg class="c-icon c-checklist__icon"><use xlink:href="../../assets/icons/symbols.svg#icon-check"></use></svg>
    </span>
    Only want smart contracts?
  </li>
  <li class="c-checklist__item {{style}}">
    <span class="c-checklist__circle">
      <svg class="c-icon c-checklist__icon"><use xlink:href="../../assets/icons/symbols.svg#icon-check"></use></svg>
    </span>
    Only want smart contracts?
  </li>
  <li class="c-checklist__item {{style}}">
    <span class="c-checklist__circle">
      <svg class="c-icon c-checklist__icon"><use xlink:href="../../assets/icons/symbols.svg#icon-check"></use></svg>
    </span>
    Only want smart contracts?
  </li>
</ul>