<div class="o-heading {{# class}}{{class}}{{/class}}">
  <h2 class="o-heading__title c-section-title">
    <span class="u-text-light">More than a</span>
    framework.
  </h2>
  <p class="o-heading__subtitle c-subtitle u-text-death">
    The all-in-one developer tool for building and deploying decentralized applications
  </p>
  {{# referal}}
    <p class="o-heading__footer">
      <a href="#" class="c-link" title="Join the Community">Join the Community</a>
    </p>
  {{/referal}}
  {{# button}}
    <p class="o-heading__footer">
      <a href="#" class="c-button" title="Join the Community">Join the Community</a>
    </p>
  {{/button}}
</div>