<div class="c-notification {{styleModifier}}">
  <p><strong>Warning</strong></p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores sint reprehenderit repellat nesciunt voluptate architecto libero aliquam neque voluptatem minus, maiores enim commodi distinctio quam provident, perspiciatis itaque harum, tenetur!</p>
</div>