<div class="c-box c-box--universe {{styleModifier}}{{# layout}} {{layout}}{{/ layout}}">
  <p class="u-text-ghost">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est voluptate qui, impedit tempora odit officia iste! Illum ea voluptate qui placeat praesentium nemo magni nulla error aliquam totam, maxime quia.</p>
</div>