<div class="c-box x-box--whisper{{styleModifier}}{{# layout}} {{layout}}{{/ layout}}">
  <svg class="c-icon c-icon--l"><use xlink:href="../../assets/icons/symbols.svg#icon-search-bar"></use></svg>
  <h3 class="c-body-title">Smart Contract Management</h3>
  <p class="c-box__subtitle u-text-light">Automatically deploy contracts and access them with JS promises. Embark watches for changes, and will redeploy contracts or DApps when updated.</p>
  <p class="c-box__footer">
    <a href="" title="Learn more" class="c-link">Learn more</a>
  </p>
</div>