<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #0B476D;"></span>
    <span class="sg-label">
      Primary <br>
      #0B476D
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #547E99;"></span>
    <span class="sg-label">
      Primary Gradation <br>
      #547E99
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #FAB266;"></span>
    <span class="sg-label">
      Secondary <br>
      #FAB266
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #FBBE7D;"></span>
    <span class="sg-label">
      Secondary Gradation <br>
      #FBBE7D
    </span>
  </li>
</ul>
