<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #38b87c;"></span>
    <span class="sg-label">
      Success <br>
      #38b87c
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #f04747;"></span>
    <span class="sg-label">
      Warning <br>
      #f04747
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #FAB266;"></span>
    <span class="sg-label">
      Hint <br>
      #FAB266
    </span>
  </li>
</ul>