<table cellpadding="0" cellspacing="0" border="0">
  <thead style="text-align: center;">
    <tr>
      <th></th>
      <th>Mobile</th>
      <th>Small <br>Breakpoint (> 480px)</th>
      <th>Medium <br>Breakpoint(> 600px)</th>
      <th>Large <br>Breakpoint(> 767px)</th>
      <th>xLarge <br>Breakpoint(> 1023px)</th>
      <th>xxLarge <br>Breakpoint (> 1200px)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong>.is-hidden</strong></td>
      <td>Hidden</td>
      <td>Hidden</td>
      <td>Hidden</td>
      <td>Hidden</td>
      <td>Hidden</td>
      <td>Hidden</td>
    </tr>
    <tr>
      <td><strong>.is-hidden--small-up</strong></td>
      <td style="background-color: #dff0d8; color: #468847;">Visible</td>
      <td>Hidden</td>
      <td>Hidden</td>
      <td>Hidden</td>
      <td>Hidden</td>
      <td>Hidden</td>
    </tr>
    <tr>
      <td><strong>.is-hidden--medium-up</strong></td>
      <td style="background-color: #dff0d8; color: #468847;">Visible</td>
      <td style="background-color: #dff0d8; color: #468847;">Visible</td>
      <td>Hidden</td>
      <td>Hidden</td>
      <td>Hidden</td>
      <td>Hidden</td>
    </tr>
    <tr>
      <td><strong>.is-hidden--large-up</strong></td>
      <td style="background-color: #dff0d8; color: #468847;">Visible</td>
      <td style="background-color: #dff0d8; color: #468847;">Visible</td>
      <td style="background-color: #dff0d8; color: #468847;">Visible</td>
      <td>Hidden</td>
      <td>Hidden</td>
      <td>Hidden</td>
    </tr>
    <tr>
      <td><strong>.is-visible</strong></td>
      <td style="background-color: #dff0d8; color: #468847;">Visible</td>
      <td style="background-color: #dff0d8; color: #468847;">Visible</td>
      <td style="background-color: #dff0d8; color: #468847;">Visible</td>
      <td style="background-color: #dff0d8; color: #468847;">Visible</td>
      <td style="background-color: #dff0d8; color: #468847;">Visible</td>
      <td style="background-color: #dff0d8; color: #468847;">Visible</td>
    </tr>
    <tr>
      <td><strong>.is-visible--small-up</strong></td>
      <td>Hidden</td>
      <td style="background-color: #dff0d8; color: #468847;">Visible</td>
      <td style="background-color: #dff0d8; color: #468847;">Visible</td>
      <td style="background-color: #dff0d8; color: #468847;">Visible</td>
      <td style="background-color: #dff0d8; color: #468847;">Visible</td>
      <td style="background-color: #dff0d8; color: #468847;">Visible</td>
    </tr>
    <tr>
      <td><strong>.is-visible--medium-up</strong></td>
      <td>Hidden</td>
      <td>Hidden</td>
      <td style="background-color: #dff0d8; color: #468847;">Visible</td>
      <td style="background-color: #dff0d8; color: #468847;">Visible</td>
      <td style="background-color: #dff0d8; color: #468847;">Visible</td>
      <td style="background-color: #dff0d8; color: #468847;">Visible</td>
    </tr>
    <tr>
      <td><strong>.is-visible--large-up</strong></td>
      <td>Hidden</td>
      <td>Hidden</td>
      <td>Hidden</td>
      <td style="background-color: #dff0d8; color: #468847;">Visible</td>
      <td style="background-color: #dff0d8; color: #468847;">Visible</td>
      <td style="background-color: #dff0d8; color: #468847;">Visible</td>
    </tr>
  </tbody>
</table>